<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @blog.detail %>
</p>

<p>
  <strong>Pubished date:</strong>
  <%= @blog.pubished_date %>
</p>

<p>
  <strong>Written by:</strong>
  <%= @blog.written_by %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
