</br>
Name: <%= name%>

<h3>Event detail</h3>
Event Name: <%= event.title %> <br>
Description: <%= event.description %> </br>
Locaiton: <%= event.location %> </br>
Date: <%= event.date %></br>
Event type: <%= event.event_type %>
