<!DOCTYPE html>
<html>
  <head>
    <title>KtmEvent</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <h2>I'm admin layout</h2>
    <%= yield %>
    <%#= render 'layouts/footer' %>
  </body>
</html>
